<div class="container" *ngIf="!mealRecipe; else meal">
    <div class="mt-5">
        <h5>Recipe is loading...</h5>
    </div>
</div>

<ng-template #meal>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="row bg-light rounded p-3">
                    <div class="col-md-7">
                        <img src="{{ mealRecipe.image }}" class="img-fluid rounded">
                    </div>
                    <div class="col-md-5 mt-2 p-3">
                        <h6 class="font-weight-bold m-0">Recipe Name</h6>
                        <h5 class="mb-3">{{ mealRecipe.name }}</h5>

                        <h6 class="font-weight-bold m-0">Category</h6>
                        <h5 class="mb-3">{{ mealRecipe.category }}</h5>

                        <h6 class="font-weight-bold m-0">Country</h6>
                        <h5 class="mb-3">{{ mealRecipe.country }}</h5>

                        
                        <p class="mt-5">
                            <a [routerLink]="mealRecipe.id" class="btn btn-brown">See More</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</ng-template>